div#timesale_0.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4.center
	-for (var i=12; i<14; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
	-for (var i=0; i<2; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
div#timesale_1.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4.center
	-for (var i=0; i<2; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
	-for (var i=2; i<4; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
div#timesale_2.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4.center
	-for (var i=2; i<4; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
	-for (var i=4; i<6; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
div#timesale_3.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4.center
	-for (var i=4; i<6; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
	-for (var i=6; i<8; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
div#timesale_4.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4.center
	-for (var i=6; i<8; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
	-for (var i=8; i<10; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
div#timesale_5.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4.center
	-for (var i=8; i<10; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
	-for (var i=10; i<12; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
div#timesale_6.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4.center
	-for (var i=10; i<12; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
	-for (var i=12; i<14; i++)
		div
			div(style='background-color: #f6f6f6;').padding-bottom-s
				p 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top')
					img(src=''+img[i]+'')
				p.margin-xs #{price_a[i]}円
				a(href='https://item.rakuten.co.jp/re-wall/'+code[i]+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
					i.fas.fa-shopping-cart
