div.grid.s-chwidth-1-7.center
	div
		a#btn_0.button-circle.bgcolor-1.bgcolor-1-hover 日
	div
		a#btn_1.button-circle.bgcolor-2.bgcolor-2-hover 月
	div
		a#btn_2.button-circle.bgcolor-3.bgcolor-3-hover 火
	div
		a#btn_3.button-circle.bgcolor-4.bgcolor-4-hover 水
	div
		a#btn_4.button-circle.bgcolor-5.bgcolor-5-hover 木
	div
		a#btn_5.button-circle.bgcolor-6.bgcolor-6-hover 金
	div
		a#btn_6.button-circle.bgcolor-7.bgcolor-7-hover 土

div#box_0.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4
	-for (var i=12; i<14; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs.bgcolor-1.color-w.font-xs 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
	-for (var i=0; i<2; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
div#box_1.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4
	-for (var i=0; i<2; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
	-for (var i=2; i<4; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
div#box_2.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4
	-for (var i=2; i<4; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
	-for (var i=4; i<6; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
div#box_3.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4
	-for (var i=4; i<6; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
	-for (var i=6; i<8; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
div#box_4.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4
	-for (var i=6; i<8; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
	-for (var i=8; i<10; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
div#box_5.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4
	-for (var i=8; i<10; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
	-for (var i=10; i<12; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
div#box_6.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-4
	-for (var i=10; i<12; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 〜9:59
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
	-for (var i=12; i<14; i++)
		div
			div.bgcolor-1-l.shadow.hover-up
				p.center.bgcolor-1.color-w.font-xs 10:00〜
				a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top')
					img(src=''+timesale[i]['img']+'')
				p.margin-xs.font-xs 通常価格：#{timesale[i]['price_b']}円
				p.margin-xs.color-4 <span class='font-xs'>▶</span>#{timesale[i]['price_a']}円
					span.font-xs (税込)
				//- div.center
					a(href='https://item.rakuten.co.jp/re-wall/'+timesale[i]['code']+'/', target='_top').button.bgcolor-1.bgcolor-5-hover.font-xs 商品ページへ
						i.fas.fa-shopping-cart
