-
  var Chair_ID = [
    {
    	code : 'dulton-100-213',
    	price_b : '28,036',
    	price_a : '25,232',
    	off : '2,804',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-100-213.jpg',
    },
    {
    	code : 'dulton-100-213ga',
    	price_b : '36,607',
    	price_a : '32,946',
    	off : '3,661',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-100-213ga.jpg',
    },
    {
    	code : 'dulton-100-213rw',
    	price_b : '33,393',
    	price_a : '30,053',
    	off : '3,340',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-100-213rw.jpg',
    },
    {
    	code : 'dulton-alc802c',
    	price_b : '26,607',
    	price_a : '23,946',
    	off : '2,661',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-alc802c.jpg',
    },
    {
    	code : 'miyatake-knc-024n',
    	price_b : '9,946',
    	price_a : '8,951',
    	off : '995',
    	img : 'cabinet/miyatake/knc-024n-main.jpg',
    },
    {
    	code : 'miyatake-knc-025n',
    	price_b : '10,946',
    	price_a : '9,851',
    	off : '1,095',
    	img : 'cabinet/miyatake/knc-025n-main.jpg',
    },
    {
    	code : 'cot43-32',
    	price_b : '9,971',
    	price_a : '8,973',
    	off : '998',
    	img : 'cabinet/interior-goods/cerise_interior/cot43-32_1.jpg',
    },
    {
    	code : 'dulton-100-253',
    	price_b : '13,036',
    	price_a : '11,732',
    	off : '1,304',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-100-253.jpg',
    },
    {
    	code : 'dulton-112-281',
    	price_b : '15,179',
    	price_a : '13,661',
    	off : '1,518',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-112-281.jpg',
    },
    {
    	code : 'dulton-112-281ga',
    	price_b : '18,393',
    	price_a : '16,553',
    	off : '1,840',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-112-281ga.jpg',
    },
    {
    	code : 'dulton-113-300',
    	price_b : '13,036',
    	price_a : '11,732',
    	off : '1,304',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-113-300.jpg',
    },
    {
    	code : 'dulton-113-300ga',
    	price_b : '16,036',
    	price_a : '14,432',
    	off : '1,604',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-113-300ga.jpg',
    },
    {
    	code : 'dulton-s245-86abk',
    	price_b : '24,179',
    	price_a : '21,761',
    	off : '2,418',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-s245-86abk.jpg',
    },
    {
    	code : 'miyatake-ch-800h',
    	price_b : '16,393',
    	price_a : '14,753',
    	off : '1,640',
    	img : 'cabinet/miyatake/ch-800h-main.jpg',
    },
    {
    	code : 'miyatake-ch-88w',
    	price_b : '11,964',
    	price_a : '10,767',
    	off : '1,197',
    	img : 'cabinet/miyatake/ch-88w-main.jpg',
    },
    {
    	code : 'miyatake-ds-ch3480s',
    	price_b : '6,625',
    	price_a : '5,962',
    	off : '663',
    	img : 'cabinet/miyatake/ds-ch3480s-main.jpg',
    },
    {
    	code : '504900',
    	price_b : '22,732',
    	price_a : '20,458',
    	off : '2,274',
    	img : 'cabinet/niceday/504900.jpg',
    },
    {
    	code : 'dl4395',
    	price_b : '19,714',
    	price_a : '17,742',
    	off : '1,972',
    	img : 'cabinet/interior-goods/cerise_interior/dl4395_1.jpg',
    },
    {
    	code : 'dl7260',
    	price_b : '26,857',
    	price_a : '24,171',
    	off : '2,686',
    	img : 'cabinet/interior-goods/cerise_interior/dl7260_1.jpg',
    },
    {
    	code : 'dulton-100-214',
    	price_b : '26,964',
    	price_a : '24,267',
    	off : '2,697',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-100-214.jpg',
    },
    {
    	code : 'dulton-100-214ga',
    	price_b : '34,464',
    	price_a : '31,017',
    	off : '3,447',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-100-214ga.jpg',
    },
    {
    	code : 'dulton-100-214rw',
    	price_b : '31,250',
    	price_a : '28,125',
    	off : '3,125',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-100-214rw.jpg',
    },
    {
    	code : 'ludc-1209',
    	price_b : '21,143',
    	price_a : '19,028',
    	off : '2,115',
    	img : 'cabinet/interior-goods/cerise_interior/ludc-1209_2pcs_1.jpg',
    },
    {
    	code : 'miyatake-ch-087-2',
    	price_b : '19,196',
    	price_a : '17,276',
    	off : '1,920',
    	img : 'cabinet/miyatake/ch-087-2-main.jpg',
    },
    {
    	code : 'stdc-1060',
    	price_b : '18,286',
    	price_a : '16,457',
    	off : '1,829',
    	img : 'cabinet/interior-goods/cerise_interior/stdc-1060_2pcs_1.jpg',
    },
    {
    	code : 'miyatake-bcw-500',
    	price_b : '9,286',
    	price_a : '8,357',
    	off : '929',
    	img : 'cabinet/miyatake/bcw-500-main.jpg',
    },
    {
    	code : 'miyatake-ds-bcw27s',
    	price_b : '8,661',
    	price_a : '7,794',
    	off : '867',
    	img : 'cabinet/miyatake/ds-bcw27s-main.jpg',
    },
    {
    	code : 'miyatake-ds-bcw29s',
    	price_b : '8,929',
    	price_a : '8,036',
    	off : '893',
    	img : 'cabinet/miyatake/ds-bcw29s-main.jpg',
    },
    {
    	code : 'miyatake-ch-j460',
    	price_b : '12,464',
    	price_a : '11,217',
    	off : '1,247',
    	img : 'cabinet/miyatake/ch-j460-main.jpg',
    },
    {
    	code : 'miyatake-cn-8c',
    	price_b : '3,125',
    	price_a : '2,812',
    	off : '313',
    	img : 'cabinet/miyatake/cn-8c-main.jpg',
    },
    {
    	code : 'miyatake-ys-1046',
    	price_b : '10,679',
    	price_a : '9,611',
    	off : '1,068',
    	img : 'cabinet/miyatake/ys-1046-main.jpg',
    },
    {
    	code : 'miyatake-ys-1392a',
    	price_b : '28,161',
    	price_a : '25,344',
    	off : '2,817',
    	img : 'cabinet/miyatake/ys-1392a-main.jpg',
    },
    {
    	code : 'miyatake-ys-424',
    	price_b : '6,625',
    	price_a : '5,962',
    	off : '663',
    	img : 'cabinet/miyatake/ys-424-main.jpg',
    },
    {
    	code : 'miyatake-ys-541a',
    	price_b : '8,286',
    	price_a : '7,457',
    	off : '829',
    	img : 'cabinet/miyatake/ys-541a-main.jpg',
    },
    {
    	code : 'miyatake-ys-557r',
    	price_b : '3,589',
    	price_a : '3,230',
    	off : '359',
    	img : 'cabinet/miyatake/ys-557r-main.jpg',
    },
    {
    	code : 'miyatake-ys-802',
    	price_b : '8,107',
    	price_a : '7,296',
    	off : '811',
    	img : 'cabinet/miyatake/ys-802-main.jpg',
    },
    {
    	code : 'miyatake-ys-807',
    	price_b : '16,929',
    	price_a : '15,236',
    	off : '1,693',
    	img : 'cabinet/miyatake/ys-807-main.jpg',
    },
    {
    	code : 'dulton-100-248',
    	price_b : '18,179',
    	price_a : '16,361',
    	off : '1,818',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-100-248.jpg',
    },
    {
    	code : 'dulton-k845-988',
    	price_b : '25,893',
    	price_a : '23,303',
    	off : '2,590',
    	img : 'cabinet/interior-goods/dulton/chair/dulton-k845-988.jpg',
    },
  ]

div.grid.font-xs
  div
    a#btn_0-0.button.bgcolor-1.bgcolor-1-hover.hukidasi-color-1.hukidasi-s カウンターチェア
  div
    a#btn_0-1.button.bgcolor-2.bgcolor-2-hover.hukidasi-color-2.hukidasi-s スツール
  div
    a#btn_0-2.button.bgcolor-3.bgcolor-3-hover.hukidasi-color-3.hukidasi-s ダイニングチェア
  div
    a#btn_0-3.button.bgcolor-4.bgcolor-4-hover.hukidasi-color-4.hukidasi-s ラウンジチェア・パーソナルチェア
  div
    a#btn_0-4.button.bgcolor-5.bgcolor-5-hover.hukidasi-color-5.hukidasi-s 座椅子・折りたたみチェア

div#box_0-0
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=0; i<6; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Chair_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Chair_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Chair_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Chair_ID[i]['off']}円OFF！
            p.color-1 #{Chair_ID[i]['price_a']}円

  div.right.width-1-1
    a.link.color-1(href='http://item.rakuten.co.jp/re-wall/c/0000001449/', target='_top') このカテゴリの全商品はこちら>>
div#box_0-1
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=6; i<16; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Chair_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Chair_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Chair_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Chair_ID[i]['off']}円OFF！
            p.color-1 #{Chair_ID[i]['price_a']}円

  div.right
    a.link.color-2(href='http://item.rakuten.co.jp/re-wall/c/0000001447/', target='_top') このカテゴリの全商品はこちら>>

div#box_0-2
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=16; i<25; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Chair_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Chair_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Chair_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Chair_ID[i]['off']}円OFF！
            p.color-1 #{Chair_ID[i]['price_a']}円

  div.right
    a.link.color-3(href='http://item.rakuten.co.jp/re-wall/c/0000001446/', target='_top') このカテゴリの全商品はこちら>>
div#box_0-3
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=25; i<29; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Chair_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Chair_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Chair_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Chair_ID[i]['off']}円OFF！
            p.color-1 #{Chair_ID[i]['price_a']}円

  div.right
    a.link.color-4(href='http://item.rakuten.co.jp/re-wall/c/0000001558/', target='_top') このカテゴリの全商品はこちら>>
div#box_0-4
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=29; i<39; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Chair_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Chair_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Chair_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Chair_ID[i]['off']}円OFF！
            p.color-1 #{Chair_ID[i]['price_a']}円

  div.right
    a.link.color-5(href='http://item.rakuten.co.jp/re-wall/c/0000001448/', target='_top') このカテゴリの全商品はこちら>>
