-
    var Rug_ID = [
      {
      	code : '220551',
      	price_b : '7,143',
      	price_a : '6,428',
      	off : '715',
      	img : 'cabinet/niceday/220551a.jpg',
      },
      {
      	code : '220552',
      	price_b : '9,286',
      	price_a : '8,357',
      	off : '929',
      	img : 'cabinet/niceday/220552a.jpg',
      },
      {
      	code : '340035',
      	price_b : '9,000',
      	price_a : '8,100',
      	off : '900',
      	img : 'cabinet/niceday/340035nd.jpg',
      },
      {
      	code : '340036',
      	price_b : '12,500',
      	price_a : '11,250',
      	off : '1,250',
      	img : 'cabinet/niceday/340036nd.jpg',
      },
      {
      	code : '340050',
      	price_b : '16,964',
      	price_a : '15,267',
      	off : '1,697',
      	img : 'cabinet/niceday/340050nd.jpg',
      },
      {
      	code : '341031',
      	price_b : '7,223',
      	price_a : '6,500',
      	off : '723',
      	img : 'cabinet/niceday/341031.jpg',
      },
      {
      	code : '341032',
      	price_b : '10,000',
      	price_a : '9,000',
      	off : '1,000',
      	img : 'cabinet/niceday/341032.jpg',
      },
      {
      	code : '341033',
      	price_b : '11,852',
      	price_a : '10,666',
      	off : '1,186',
      	img : 'cabinet/niceday/341033.jpg',
      },
      {
      	code : '460941',
      	price_b : '13,286',
      	price_a : '11,957',
      	off : '1,329',
      	img : 'cabinet/niceday/460941new.jpg',
      },
      {
      	code : '460942',
      	price_b : '17,857',
      	price_a : '16,071',
      	off : '1,786',
      	img : 'cabinet/niceday/460942new.jpg',
      },
      {
      	code : '460960',
      	price_b : '10,964',
      	price_a : '9,867',
      	off : '1,097',
      	img : 'cabinet/niceday/460960new.jpg',
      },
      {
      	code : '460968',
      	price_b : '17,857',
      	price_a : '16,071',
      	off : '1,786',
      	img : 'cabinet/niceday/460968new.jpg',
      },
      {
      	code : '462460',
      	price_b : '10,964',
      	price_a : '9,867',
      	off : '1,097',
      	img : 'cabinet/niceday/462460.jpg',
      },
      {
      	code : '462470',
      	price_b : '16,203',
      	price_a : '14,582',
      	off : '1,621',
      	img : 'cabinet/niceday/462470.jpg',
      },
      {
      	code : 'ik-4722799',
      	price_b : '19,300',
      	price_a : '17,370',
      	off : '1,930',
      	img : 'cabinet/ikehiko/15-55//4722999-pop1.jpg',
      },
      {
      	code : 'ik-4922819',
      	price_b : '7,000',
      	price_a : '6,300',
      	off : '700',
      	img : 'cabinet/ikehiko/15-55//4922819-pop1.jpg',
      },
      {
      	code : 'ik-4922829',
      	price_b : '10,200',
      	price_a : '9,180',
      	off : '1,020',
      	img : 'cabinet/ikehiko/15-55//4922819-pop1.jpg',
      },
      {
      	code : '46241f',
      	price_b : '1,800',
      	price_a : '1,620',
      	off : '180',
      	img : 'cabinet/niceday/46241f.jpg',
      },
      {
      	code : '46249a',
      	price_b : '2,143',
      	price_a : '1,928',
      	off : '215',
      	img : 'cabinet/niceday/46249a.jpg',
      },
      {
      	code : '55856i',
      	price_b : '3,071',
      	price_a : '2,763',
      	off : '308',
      	img : 'cabinet/niceday/55856i.jpg',
      },
      {
      	code : 'miyatake-cn-50r',
      	price_b : '3,804',
      	price_a : '3,423',
      	off : '381',
      	img : 'cabinet/miyatake/cn-50r-main.jpg',
      },
      {
      	code : 'miyatake-cn-60r',
      	price_b : '3,804',
      	price_a : '3,423',
      	off : '381',
      	img : 'cabinet/miyatake/cn-60r-main.jpg',
      },
      {
      	code : 'sg-10138',
      	price_b : '4,300',
      	price_a : '3,870',
      	off : '430',
      	img : 'cabinet/sgoole/sg-10138.jpg',
      },
      {
      	code : 'sg-10169',
      	price_b : '11,300',
      	price_a : '10,170',
      	off : '1,130',
      	img : 'cabinet/sgoole/sg-10169.jpg',
      },
      {
      	code : 'sg-10206',
      	price_b : '8,000',
      	price_a : '7,200',
      	off : '800',
      	img : 'cabinet/sgoole/sg-10206.jpg',
      },
      {
      	code : 'sg-10207',
      	price_b : '5,700',
      	price_a : '5,130',
      	off : '570',
      	img : 'cabinet/sgoole/sg-10207.jpg',
      },
      {
      	code : 'sg-10217',
      	price_b : '13,800',
      	price_a : '12,420',
      	off : '1,380',
      	img : 'cabinet/sgoole/sg-10217.jpg',
      },
      {
      	code : 'sg-10218',
      	price_b : '11,500',
      	price_a : '10,350',
      	off : '1,150',
      	img : 'cabinet/sgoole/sg-10218.jpg',
      },
      {
      	code : 'sg-10219',
      	price_b : '8,900',
      	price_a : '8,010',
      	off : '890',
      	img : 'cabinet/sgoole/sg-10219.jpg',
      },
      {
      	code : 'sg-10137',
      	price_b : '4,300',
      	price_a : '3,870',
      	off : '430',
      	img : 'cabinet/sgoole/sg-10137.jpg',
      },
      {
      	code : 'sg-10193',
      	price_b : '5,000',
      	price_a : '4,500',
      	off : '500',
      	img : 'cabinet/sgoole/sg-10193.jpg',
      },
      {
      	code : 'sg-10090',
      	price_b : '9,100',
      	price_a : '8,190',
      	off : '910',
      	img : 'cabinet/sgoole/sg-10090.jpg',
      },
      {
      	code : 'sg-10096',
      	price_b : '9,100',
      	price_a : '8,190',
      	off : '910',
      	img : 'cabinet/sgoole/sg-10096.jpg',
      },
    ]


div
  // p 管理番号一覧
  -for (var i=0; i<Rug_ID.length; i++)
    != `<!-- ${Rug_ID[i]['code']} -->`
    //- p #{Rug_ID[i]['code']}

div.grid.font-xs
  div
    a#btn_1-0.button.bgcolor-1.bgcolor-1-hover.hukidasi-color-1.hukidasi-s ラグ・マット/角型
  div
    a#btn_1-1.button.bgcolor-2.bgcolor-2-hover.hukidasi-color-2.hukidasi-s ラグ・マット/丸型
  div
    a#btn_1-2.button.bgcolor-3.bgcolor-3-hover.hukidasi-color-3.hukidasi-s チェアマット
  div
    a#btn_1-3.button.bgcolor-4.bgcolor-4-hover.hukidasi-color-4.hukidasi-s クッション/丸型
  div
    a#btn_1-4.button.bgcolor-5.bgcolor-5-hover.hukidasi-color-5.hukidasi-s クッション/角型・その他

div#box_1-0
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=0; i<10; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Rug_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Rug_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Rug_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Rug_ID[i]['off']}円OFF！
            p.color-1 #{Rug_ID[i]['price_a']}円

  div.right.width-1-1
    a.link.color-1(href='http://item.rakuten.co.jp/re-wall/c/0000001482/', target='_top') このカテゴリの全商品はこちら>>
div#box_1-1
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=10; i<17; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Rug_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Rug_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Rug_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Rug_ID[i]['off']}円OFF！
            p.color-1 #{Rug_ID[i]['price_a']}円

  div.right
    a.link.color-2(href='http://item.rakuten.co.jp/re-wall/c/0000001495/', target='_top') このカテゴリの全商品はこちら>>
div#box_1-2
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=17; i<19; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Rug_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Rug_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Rug_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Rug_ID[i]['off']}円OFF！
            p.color-1 #{Rug_ID[i]['price_a']}円

  div.right
    a.link.color-3(href='http://item.rakuten.co.jp/re-wall/c/0000001496/', target='_top') このカテゴリの全商品はこちら>>
div#box_1-3
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=19; i<29; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Rug_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Rug_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Rug_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Rug_ID[i]['off']}円OFF！
            p.color-1 #{Rug_ID[i]['price_a']}円

  div.right
    a.link.color-4(href='http://item.rakuten.co.jp/re-wall/c/0000001514/', target='_top') このカテゴリの全商品はこちら>>
div#box_1-4
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=29; i<33; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Rug_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Rug_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Rug_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Rug_ID[i]['off']}円OFF！
            p.color-1 #{Rug_ID[i]['price_a']}円

  div.right
    a.link.color-5(href='http://item.rakuten.co.jp/re-wall/c/0000001553/', target='_top') このカテゴリの全商品はこちら>>
