-
  var Singu_ID = [
    {
    	code : '317501',
    	price_b : '5,036',
    	price_a : '4,532',
    	off : '504',
    	img : 'cabinet/niceday/317501nd.jpg',
    },
    {
    	code : '317502',
    	price_b : '5,714',
    	price_a : '5,142',
    	off : '572',
    	img : 'cabinet/niceday/317502nd.jpg',
    },
    {
    	code : '317503',
    	price_b : '6,786',
    	price_a : '6,107',
    	off : '679',
    	img : 'cabinet/niceday/317503nd.jpg',
    },
    {
    	code : '330014',
    	price_b : '5,000',
    	price_a : '4,500',
    	off : '500',
    	img : 'cabinet/niceday/330014nd.jpg',
    },
    {
    	code : '553701',
    	price_b : '3,839',
    	price_a : '3,455',
    	off : '384',
    	img : 'cabinet/niceday/553701.jpg',
    },
    {
    	code : '554901',
    	price_b : '6,964',
    	price_a : '6,267',
    	off : '697',
    	img : 'cabinet/niceday/554901_new.jpg',
    },
    {
    	code : '555203',
    	price_b : '6,929',
    	price_a : '6,236',
    	off : '693',
    	img : 'cabinet/niceday/555203.jpg',
    },
    {
    	code : '560642star',
    	price_b : '6,786',
    	price_a : '6,107',
    	off : '679',
    	img : 'cabinet/niceday/5606star42.jpg',
    },
    {
    	code : '560679star',
    	price_b : '8,750',
    	price_a : '7,875',
    	off : '875',
    	img : 'cabinet/niceday/5606star79.jpg',
    },
    {
    	code : '572701',
    	price_b : '6,964',
    	price_a : '6,267',
    	off : '697',
    	img : 'cabinet/niceday/572701a.jpg',
    },
    {
    	code : '312601',
    	price_b : '3,929',
    	price_a : '3,536',
    	off : '393',
    	img : 'cabinet/niceday/312601nd.jpg',
    },
    {
    	code : '312602',
    	price_b : '4,518',
    	price_a : '4,066',
    	off : '452',
    	img : 'cabinet/niceday/312602nd.jpg',
    },
    {
    	code : '312603',
    	price_b : '5,000',
    	price_a : '4,500',
    	off : '500',
    	img : 'cabinet/niceday/312602nd.jpg',
    },
    {
    	code : '312604',
    	price_b : '5,500',
    	price_a : '4,950',
    	off : '550',
    	img : 'cabinet/niceday/312604nd.jpg',
    },
    {
    	code : '312605',
    	price_b : '6,000',
    	price_a : '5,400',
    	off : '600',
    	img : 'cabinet/niceday/312605nd.jpg',
    },
    {
    	code : '312678',
    	price_b : '6,964',
    	price_a : '6,267',
    	off : '697',
    	img : 'cabinet/niceday/312678nd.jpg',
    },
    {
    	code : '313401',
    	price_b : '3,964',
    	price_a : '3,567',
    	off : '397',
    	img : 'cabinet/niceday/313401nd.jpg',
    },
    {
    	code : '313402',
    	price_b : '4,518',
    	price_a : '4,066',
    	off : '452',
    	img : 'cabinet/niceday/313402nd.jpg',
    },
    {
    	code : '313403',
    	price_b : '4,929',
    	price_a : '4,436',
    	off : '493',
    	img : 'cabinet/niceday/313403nd.jpg',
    },
    {
    	code : '313404',
    	price_b : '5,893',
    	price_a : '5,303',
    	off : '590',
    	img : 'cabinet/niceday/313404nd.jpg',
    },
    {
    	code : '310021',
    	price_b : '4,589',
    	price_a : '4,130',
    	off : '459',
    	img : 'cabinet/niceday/310021.jpg',
    },
    {
    	code : '310022',
    	price_b : '5,661',
    	price_a : '5,094',
    	off : '567',
    	img : 'cabinet/niceday/310022.jpg',
    },
    {
    	code : '313501',
    	price_b : '3,964',
    	price_a : '3,567',
    	off : '397',
    	img : 'cabinet/niceday/4_31350101_12527.jpg',
    },
    {
    	code : '313502',
    	price_b : '4,518',
    	price_a : '4,066',
    	off : '452',
    	img : 'cabinet/niceday/4_31350201_12535.jpg',
    },
    {
    	code : '313503',
    	price_b : '4,929',
    	price_a : '4,436',
    	off : '493',
    	img : 'cabinet/niceday/4_31350307_12548.jpg',
    },
    {
    	code : '313504',
    	price_b : '5,893',
    	price_a : '5,303',
    	off : '590',
    	img : 'cabinet/niceday/4_31350401_12551.jpg',
    },
    {
    	code : '313505',
    	price_b : '6,857',
    	price_a : '6,171',
    	off : '686',
    	img : 'cabinet/niceday/4_31350505_12562.jpg',
    },
    {
    	code : '313600',
    	price_b : '2,250',
    	price_a : '2,025',
    	off : '225',
    	img : 'cabinet/niceday/313600nd.jpg',
    },
    {
    	code : '313701',
    	price_b : '4,518',
    	price_a : '4,066',
    	off : '452',
    	img : 'cabinet/niceday/4_31370101_12567.jpg',
    },
    {
    	code : '313702',
    	price_b : '5,000',
    	price_a : '4,500',
    	off : '500',
    	img : 'cabinet/niceday/4_31370201_12575.jpg',
    },
    {
    	code : '320019',
    	price_b : '3,839',
    	price_a : '3,455',
    	off : '384',
    	img : 'cabinet/niceday/320019nd.jpg',
    },
    {
    	code : '571600',
    	price_b : '4,000',
    	price_a : '3,600',
    	off : '400',
    	img : 'cabinet/niceday/571600a.jpg',
    },
    {
    	code : '571700',
    	price_b : '5,018',
    	price_a : '4,516',
    	off : '502',
    	img : 'cabinet/niceday/571700a.jpg',
    },
    {
    	code : 'ik-2904900',
    	price_b : '5,200',
    	price_a : '4,680',
    	off : '520',
    	img : 'cabinet/ikehiko/15-55//2904900-pop1.jpg',
    },
    {
    	code : 'ik-2904910',
    	price_b : '5,200',
    	price_a : '4,680',
    	off : '520',
    	img : 'cabinet/ikehiko/15-55//2904910-pop1.jpg',
    },
    {
    	code : 'ik-2904950',
    	price_b : '6,500',
    	price_a : '5,850',
    	off : '650',
    	img : 'cabinet/ikehiko/15-55//2904950-pop1.jpg',
    },
    {
    	code : 'ik-2904960',
    	price_b : '6,500',
    	price_a : '5,850',
    	off : '650',
    	img : 'cabinet/ikehiko/15-55//2904960-pop1.jpg',
    },
    {
    	code : 'ik-2904970',
    	price_b : '6,500',
    	price_a : '5,850',
    	off : '650',
    	img : 'cabinet/ikehiko/15-55//2904970-pop1.jpg',
    },
    {
    	code : 'ik-2905009',
    	price_b : '3,100',
    	price_a : '2,790',
    	off : '310',
    	img : 'cabinet/ikehiko/15-55//2905009-pop1.jpg',
    },
    {
    	code : 'ik-2905019',
    	price_b : '3,100',
    	price_a : '2,790',
    	off : '310',
    	img : 'cabinet/ikehiko/15-55//2905019-pop1.jpg',
    },
  ]

div
  // p 管理番号一覧
  -for (var i=0; i<Singu_ID.length; i++)
    != `<!-- ${Singu_ID[i]['code']} -->`
    //- p #{Singu_ID[i]['code']}


div.grid.font-xs
  div
    a#btn_5-0.button.bgcolor-1.bgcolor-1-hover.hukidasi-color-1.hukidasi-s ガーゼ・キルト・タオルケット
  div
    a#btn_5-1.button.bgcolor-2.bgcolor-2-hover.hukidasi-color-2.hukidasi-s 敷きパッド
  div
    a#btn_5-2.button.bgcolor-3.bgcolor-3-hover.hukidasi-color-3.hukidasi-s 寝具カバー・シーツ
  div
    a#btn_5-3.button.bgcolor-4.bgcolor-4-hover.hukidasi-color-4.hukidasi-s 枕・抱き枕


div#box_5-0
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=0; i<10; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Singu_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Singu_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Singu_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Singu_ID[i]['off']}円OFF！
            p.color-1 #{Singu_ID[i]['price_a']}円

  div.right.width-1-1
    a.link.color-1(href='http://item.rakuten.co.jp/re-wall/c/0000001488/', target='_top') このカテゴリの全商品はこちら>>
div#box_5-1
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=10; i<20; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Singu_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Singu_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Singu_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Singu_ID[i]['off']}円OFF！
            p.color-1 #{Singu_ID[i]['price_a']}円

  div.right
    a.link.color-2(href='http://item.rakuten.co.jp/re-wall/c/0000001485/', target='_top') このカテゴリの全商品はこちら>>
div#box_5-2
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=20; i<30; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Singu_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Singu_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Singu_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Singu_ID[i]['off']}円OFF！
            p.color-1 #{Singu_ID[i]['price_a']}円

  div.right
    a.link.color-3(href='http://item.rakuten.co.jp/re-wall/c/0000001483/', target='_top') このカテゴリの全商品はこちら>>
div#box_5-3
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=30; i<40; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Singu_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Singu_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Singu_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Singu_ID[i]['off']}円OFF！
            p.color-1 #{Singu_ID[i]['price_a']}円

  div.right
    a.link.color-4(href='http://item.rakuten.co.jp/re-wall/c/0000001489/', target='_top') このカテゴリの全商品はこちら>>
