-
  var Sofa_ID = [
    {
    	code : '503300',
    	price_b : '35,107',
    	price_a : '31,596',
    	off : '3,511',
    	img : 'cabinet/niceday/503300.jpg',
    },
    {
    	code : '514500',
    	price_b : '29,286',
    	price_a : '26,357',
    	off : '2,929',
    	img : 'cabinet/niceday/514500.jpg',
    },
    {
    	code : 'ashby_2p',
    	price_b : '42,571',
    	price_a : '38,313',
    	off : '4,258',
    	img : 'cabinet/interior-goods/cerise_interior/ashby_2p_1.jpg',
    },
    {
    	code : 'cs120-dbr',
    	price_b : '28,286',
    	price_a : '25,457',
    	off : '2,829',
    	img : 'cabinet/interior-goods/cerise_interior/cs120-dbr_1.jpg',
    },
    {
    	code : 'cs120-na',
    	price_b : '28,286',
    	price_a : '25,457',
    	off : '2,829',
    	img : 'cabinet/interior-goods/cerise_interior/cs120-na_1.jpg',
    },
    {
    	code : 'cs120-st-dbr',
    	price_b : '28,286',
    	price_a : '25,457',
    	off : '2,829',
    	img : 'cabinet/interior-goods/cerise_interior/cs120-st-dbr_1.jpg',
    },
    {
    	code : 'cs120-st-na',
    	price_b : '28,286',
    	price_a : '25,457',
    	off : '2,829',
    	img : 'cabinet/interior-goods/cerise_interior/cs120-st-na_1.jpg',
    },
    {
    	code : 'cs60-dbr',
    	price_b : '22,571',
    	price_a : '20,313',
    	off : '2,258',
    	img : 'cabinet/interior-goods/cerise_interior/cs60-dbr_1.jpg',
    },
    {
    	code : 'cs60-st-dbr',
    	price_b : '22,571',
    	price_a : '20,313',
    	off : '2,258',
    	img : 'cabinet/interior-goods/cerise_interior/cs60-st-dbr_1.jpg',
    },
    {
    	code : 'cs60-st-na',
    	price_b : '22,571',
    	price_a : '20,313',
    	off : '2,258',
    	img : 'cabinet/interior-goods/cerise_interior/cs60-st-na_1.jpg',
    },
    {
    	code : 'sg-10170',
    	price_b : '28,100',
    	price_a : '25,290',
    	off : '2,810',
    	img : 'cabinet/sgoole/sg-10170.jpg',
    },
    {
    	code : 'sg-10174',
    	price_b : '29,500',
    	price_a : '26,550',
    	off : '2,950',
    	img : 'cabinet/sgoole/sg-10174.jpg',
    },
    {
    	code : 'miyatake-ot-013',
    	price_b : '5,518',
    	price_a : '4,966',
    	off : '552',
    	img : 'cabinet/miyatake/ot-013-main.jpg',
    },
    {
    	code : 'sg-10098',
    	price_b : '8,700',
    	price_a : '7,830',
    	off : '870',
    	img : 'cabinet/sgoole/sg-10098.jpg',
    },
    {
    	code : 'sg-10182',
    	price_b : '7,800',
    	price_a : '7,020',
    	off : '780',
    	img : 'cabinet/sgoole/sg-10182_1.jpg',
    },
    {
    	code : 'sg-10179',
    	price_b : '6,400',
    	price_a : '5,760',
    	off : '640',
    	img : 'cabinet/sgoole/sg-10179.jpg',
    },
    {
    	code : 'sg-10180',
    	price_b : '10,500',
    	price_a : '9,450',
    	off : '1,050',
    	img : 'cabinet/sgoole/sg-10180.jpg',
    },
    {
    	code : 'sg-10208',
    	price_b : '6,400',
    	price_a : '5,760',
    	off : '640',
    	img : 'cabinet/sgoole/sg-10208.jpg',
    },
    {
    	code : 'sg-10239',
    	price_b : '12,100',
    	price_a : '10,890',
    	off : '1,210',
    	img : 'cabinet/sgoole/sg-10239.jpg',
    },
    {
    	code : 'sg-10240',
    	price_b : '12,100',
    	price_a : '10,890',
    	off : '1,210',
    	img : 'cabinet/sgoole/sg-10240.jpg',
    },
    {
    	code : 'sg-10241',
    	price_b : '12,100',
    	price_a : '10,890',
    	off : '1,210',
    	img : 'cabinet/sgoole/sg-10241.jpg',
    },
    {
    	code : '446903',
    	price_b : '52,321',
    	price_a : '47,088',
    	off : '5,233',
    	img : 'cabinet/niceday/446903.jpg',
    },
    {
    	code : '503512',
    	price_b : '30,286',
    	price_a : '27,257',
    	off : '3,029',
    	img : 'cabinet/niceday/503512.jpg',
    },
    {
    	code : 'miyatake-bsk-905sds',
    	price_b : '29,446',
    	price_a : '26,501',
    	off : '2,945',
    	img : 'cabinet/miyatake/bsk-905sds-main.jpg',
    },
    {
    	code : 'miyatake-bsk-906s',
    	price_b : '24,857',
    	price_a : '22,371',
    	off : '2,486',
    	img : 'cabinet/miyatake/bsk-906s-main.jpg',
    },
    {
    	code : 'miyatake-bsk-906sd',
    	price_b : '30,375',
    	price_a : '27,337',
    	off : '3,038',
    	img : 'cabinet/miyatake/bsk-906sd-main.jpg',
    },
    {
    	code : 'miyatake-bsk-910sd',
    	price_b : '28,357',
    	price_a : '25,521',
    	off : '2,836',
    	img : 'cabinet/miyatake/bsk-910sd-main.jpg',
    },
    {
    	code : 'miyatake-bsk-911s',
    	price_b : '25,232',
    	price_a : '22,708',
    	off : '2,524',
    	img : 'cabinet/miyatake/bsk-911s-main.jpg',
    },
    {
    	code : 'miyatake-bsk-911sd',
    	price_b : '29,268',
    	price_a : '26,341',
    	off : '2,927',
    	img : 'cabinet/miyatake/bsk-911sd-main.jpg',
    },
    {
    	code : 'miyatake-bsk-919ss',
    	price_b : '24,857',
    	price_a : '22,371',
    	off : '2,486',
    	img : 'cabinet/miyatake/bsk-919ss-main.jpg',
    },
    {
    	code : 'miyatake-bsk-937s',
    	price_b : '27,607',
    	price_a : '24,846',
    	off : '2,761',
    	img : 'cabinet/miyatake/bsk-937s-main.jpg',
    },
    {
    	code : '446501',
    	price_b : '28,732',
    	price_a : '25,858',
    	off : '2,874',
    	img : 'cabinet/niceday/446501.jpg',
    },
    {
    	code : '446701',
    	price_b : '17,679',
    	price_a : '15,911',
    	off : '1,768',
    	img : 'cabinet/niceday/446701.jpg',
    },
    {
    	code : '446702',
    	price_b : '22,232',
    	price_a : '20,008',
    	off : '2,224',
    	img : 'cabinet/niceday/446702.jpg',
    },
    {
    	code : '447001',
    	price_b : '32,518',
    	price_a : '29,266',
    	off : '3,252',
    	img : 'cabinet/niceday/447001.jpg',
    },
    {
    	code : '503501',
    	price_b : '33,071',
    	price_a : '29,763',
    	off : '3,308',
    	img : 'cabinet/niceday/503501.jpg',
    },
    {
    	code : '503603',
    	price_b : '59,107',
    	price_a : '53,196',
    	off : '5,911',
    	img : 'cabinet/niceday/503603.jpg',
    }
  ]


div.grid.font-xs
  div
    a#btn_2-0.button.bgcolor-1.bgcolor-1-hover.hukidasi-color-1.hukidasi-s ソファ
  div
    a#btn_2-1.button.bgcolor-2.bgcolor-2-hover.hukidasi-color-2.hukidasi-s ソファベッド
  div
    a#btn_2-2.button.bgcolor-3.bgcolor-3-hover.hukidasi-color-3.hukidasi-s オットマン
  div
    a#btn_2-3.button.bgcolor-4.bgcolor-4-hover.hukidasi-color-4.hukidasi-s カバー・その他パーツ
  div
    a#btn_2-4.button.bgcolor-5.bgcolor-5-hover.hukidasi-color-5.hukidasi-s ベッドフレーム
  div
    a#btn_2-5.button.bgcolor-6.bgcolor-6-hover.hukidasi-color-6.hukidasi-s 折りたたみベッド


div#box_2-0
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=0; i<10; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Sofa_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Sofa_ID[i]['off']}円OFF！
            p.color-1 #{Sofa_ID[i]['price_a']}円

  div.right.width-1-1
    a.link.color-1(href='http://item.rakuten.co.jp/re-wall/c/0000001505/', target='_top') このカテゴリの全商品はこちら>>
div#box_2-1
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=10; i<12; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Sofa_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Sofa_ID[i]['off']}円OFF！
            p.color-1 #{Sofa_ID[i]['price_a']}円

  div.right
    a.link.color-2(href='http://item.rakuten.co.jp/re-wall/c/0000001565/', target='_top') このカテゴリの全商品はこちら>>
div#box_2-2
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=12; i<15; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Sofa_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Sofa_ID[i]['off']}円OFF！
            p.color-1 #{Sofa_ID[i]['price_a']}円

  div.right
    a.link.color-3(href='http://item.rakuten.co.jp/re-wall/c/0000001549/', target='_top') このカテゴリの全商品はこちら>>
div#box_2-3
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=15; i<21; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Sofa_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Sofa_ID[i]['off']}円OFF！
            p.color-1 #{Sofa_ID[i]['price_a']}円

  div.right
    a.link.color-4(href='http://item.rakuten.co.jp/re-wall/c/0000001554/', target='_top') このカテゴリの全商品はこちら>>
div#box_2-4
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=21; i<31; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Sofa_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Sofa_ID[i]['off']}円OFF！
            p.color-1 #{Sofa_ID[i]['price_a']}円

  div.right
    a.link.color-5(href='http://item.rakuten.co.jp/re-wall/c/0000001494/', target='_top') このカテゴリの全商品はこちら>>
div#box_2-5
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=31; i<37; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Sofa_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Sofa_ID[i]['off']}円OFF！
            p.color-1 #{Sofa_ID[i]['price_a']}円

  div.right
    a.link.color-5(href='http://item.rakuten.co.jp/re-wall/c/0000001493/', target='_top') このカテゴリの全商品はこちら>>
