-
  var Storage_ID = [
    {
    	code : 'bt30-120l',
    	price_b : '21,143',
    	price_a : '19,028',
    	off : '2,115',
    	img : 'cabinet/interior-goods/cerise_interior/bt30-120l_1.jpg',
    },
    {
    	code : 'bt48-120l',
    	price_b : '21,143',
    	price_a : '19,028',
    	off : '2,115',
    	img : 'cabinet/interior-goods/cerise_interior/bt48-120l_1.jpg',
    },
    {
    	code : 'bt48-90l',
    	price_b : '19,714',
    	price_a : '17,742',
    	off : '1,972',
    	img : 'cabinet/interior-goods/cerise_interior/bt48-90l_1.jpg',
    },
    {
    	code : 'by48-100l',
    	price_b : '19,714',
    	price_a : '17,742',
    	off : '1,972',
    	img : 'cabinet/interior-goods/cerise_interior/by48-100l_1.jpg',
    },
    {
    	code : 'ev35-120l',
    	price_b : '24,000',
    	price_a : '21,600',
    	off : '2,400',
    	img : 'cabinet/interior-goods/cerise_interior/ev35-120l_1.jpg',
    },
    {
    	code : 'ev35-90l',
    	price_b : '19,714',
    	price_a : '17,742',
    	off : '1,972',
    	img : 'cabinet/interior-goods/cerise_interior/ev35-90l_1.jpg',
    },
    {
    	code : 'fx38-120sl_wh',
    	price_b : '26,857',
    	price_a : '24,171',
    	off : '2,686',
    	img : 'cabinet/interior-goods/cerise_interior/fx38-120sl_wh_1.jpg',
    },
    {
    	code : 'fx40-105rl_wh',
    	price_b : '24,000',
    	price_a : '21,600',
    	off : '2,400',
    	img : 'cabinet/interior-goods/cerise_interior/fx40-105rl_wh_1.jpg',
    },
    {
    	code : 'hm35-120l',
    	price_b : '19,714',
    	price_a : '17,742',
    	off : '1,972',
    	img : 'cabinet/interior-goods/cerise_interior/hm35-120l_1.jpg',
    },
    {
    	code : 'hm35-150l',
    	price_b : '24,000',
    	price_a : '21,600',
    	off : '2,400',
    	img : 'cabinet/interior-goods/cerise_interior/hm35-150l_1.jpg',
    },
    {
    	code : '503400',
    	price_b : '12,500',
    	price_a : '11,250',
    	off : '1,250',
    	img : 'cabinet/niceday/503400.jpg',
    },
    {
    	code : '514400',
    	price_b : '15,696',
    	price_a : '14,126',
    	off : '1,570',
    	img : 'cabinet/niceday/514400.jpg',
    },
    {
    	code : 'by120-60r',
    	price_b : '22,571',
    	price_a : '20,313',
    	off : '2,258',
    	img : 'cabinet/interior-goods/cerise_interior/by120-60r_1.jpg',
    },
    {
    	code : 'by90-72r',
    	price_b : '24,000',
    	price_a : '21,600',
    	off : '2,400',
    	img : 'cabinet/interior-goods/cerise_interior/by90-72r_1.jpg',
    },
    {
    	code : 'covent-gh-05',
    	price_b : '20,875',
    	price_a : '18,787',
    	off : '2,088',
    	img : 'cabinet/interior-goods/covent/shelf/covent-gh-05.jpg',
    },
    {
    	code : 'covent-gh-07',
    	price_b : '25,982',
    	price_a : '23,383',
    	off : '2,599',
    	img : 'cabinet/interior-goods/covent/shelf/covent-gh-07.jpg',
    },
    {
    	code : 'covent-gk-50',
    	price_b : '31,518',
    	price_a : '28,366',
    	off : '3,152',
    	img : 'cabinet/interior-goods/covent/shelf/covent-gk-50.jpg',
    },
    {
    	code : 'covent-gk-53',
    	price_b : '9,777',
    	price_a : '8,799',
    	off : '978',
    	img : 'cabinet/interior-goods/covent/other/covent-gk-53.jpg',
    },
    {
    	code : 'covent-gz-48',
    	price_b : '18,911',
    	price_a : '17,019',
    	off : '1,892',
    	img : 'cabinet/interior-goods/covent/other/covent-gz-48.jpg',
    },
    {
    	code : 'covent-ix-53',
    	price_b : '35,446',
    	price_a : '31,901',
    	off : '3,545',
    	img : 'cabinet/interior-goods/covent/shelf/covent-ix-53.jpg',
    },
    {
    	code : '5044f1',
    	price_b : '18,054',
    	price_a : '16,248',
    	off : '1,806',
    	img : 'cabinet/niceday/5044f1.jpg',
    },
    {
    	code : '5044f2',
    	price_b : '24,321',
    	price_a : '21,888',
    	off : '2,433',
    	img : 'cabinet/niceday/5044f2.jpg',
    },
    {
    	code : '5044f3',
    	price_b : '32,893',
    	price_a : '29,603',
    	off : '3,290',
    	img : 'cabinet/niceday/5044f3.jpg',
    },
    {
    	code : 'an70-60mb',
    	price_b : '19,714',
    	price_a : '17,742',
    	off : '1,972',
    	img : 'cabinet/interior-goods/cerise_interior/an70-60mb_1.jpg',
    },
    {
    	code : 'an70-80mbt',
    	price_b : '25,429',
    	price_a : '22,886',
    	off : '2,543',
    	img : 'cabinet/interior-goods/cerise_interior/an70-80mbt_1.jpg',
    },
    {
    	code : 'bt90-60h',
    	price_b : '21,143',
    	price_a : '19,028',
    	off : '2,115',
    	img : 'cabinet/interior-goods/cerise_interior/bt90-60h_1.jpg',
    },
    {
    	code : 'by90-60h',
    	price_b : '25,429',
    	price_a : '22,886',
    	off : '2,543',
    	img : 'cabinet/interior-goods/cerise_interior/by90-60h_1.jpg',
    },
    {
    	code : 'covent-ix-54',
    	price_b : '36,429',
    	price_a : '32,786',
    	off : '3,643',
    	img : 'cabinet/interior-goods/covent/shelf/covent-ix-54.jpg',
    },
    {
    	code : 'dulton-100-135rw',
    	price_b : '52,679',
    	price_a : '47,411',
    	off : '5,268',
    	img : 'cabinet/interior-goods/dulton/cabinet/dulton-100-135rw.jpg',
    },
    {
    	code : 'dulton-100-164',
    	price_b : '104,107',
    	price_a : '93,696',
    	off : '10,411',
    	img : 'cabinet/interior-goods/dulton/cabinet/dulton-100-164.jpg',
    },
    {
    	code : 'btc120-75g',
    	price_b : '29,714',
    	price_a : '26,742',
    	off : '2,972',
    	img : 'cabinet/interior-goods/cerise_interior/btc120-75g_1.jpg',
    },
    {
    	code : 'btc150-60g',
    	price_b : '32,571',
    	price_a : '29,313',
    	off : '3,258',
    	img : 'cabinet/interior-goods/cerise_interior/btc150-60g_1.jpg',
    },
    {
    	code : 'btc150-60l',
    	price_b : '32,571',
    	price_a : '29,313',
    	off : '3,258',
    	img : 'cabinet/interior-goods/cerise_interior/btc150-60l_1.jpg',
    },
    {
    	code : 'btc90-75g',
    	price_b : '28,286',
    	price_a : '25,457',
    	off : '2,829',
    	img : 'cabinet/interior-goods/cerise_interior/btc90-75g_1.jpg',
    },
    {
    	code : 'cts120-60g',
    	price_b : '21,143',
    	price_a : '19,028',
    	off : '2,115',
    	img : 'cabinet/interior-goods/cerise_interior/cts120-60g_1.jpg',
    },
    {
    	code : 'cts120-60l',
    	price_b : '21,143',
    	price_a : '19,028',
    	off : '2,115',
    	img : 'cabinet/interior-goods/cerise_interior/cts120-60l_1.jpg',
    },
    {
    	code : 'cts180-60g',
    	price_b : '28,286',
    	price_a : '25,457',
    	off : '2,829',
    	img : 'cabinet/interior-goods/cerise_interior/cts180-60g_1.jpg',
    },
    {
    	code : 'cts180-60l',
    	price_b : '29,714',
    	price_a : '26,742',
    	off : '2,972',
    	img : 'cabinet/interior-goods/cerise_interior/cts180-60l_1.jpg',
    },
    {
    	code : 'pw120-60l',
    	price_b : '28,286',
    	price_a : '25,457',
    	off : '2,829',
    	img : 'cabinet/interior-goods/cerise_interior/pw120-60l_1.jpg',
    },
    {
    	code : 'pw90-80l',
    	price_b : '28,286',
    	price_a : '25,457',
    	off : '2,829',
    	img : 'cabinet/interior-goods/cerise_interior/pw90-80l_1.jpg',
    },
    {
    	code : 'do180-45h_wh',
    	price_b : '26,857',
    	price_a : '24,171',
    	off : '2,686',
    	img : 'cabinet/interior-goods/cerise_interior/do180-45h_wh_1.jpg',
    },
    {
    	code : 'do180-45t_wh',
    	price_b : '24,000',
    	price_a : '21,600',
    	off : '2,400',
    	img : 'cabinet/interior-goods/cerise_interior/do180-45t_wh_1.jpg',
    },
    {
    	code : 'do180-60h_wh',
    	price_b : '35,429',
    	price_a : '31,886',
    	off : '3,543',
    	img : 'cabinet/interior-goods/cerise_interior/do180-45h_wh_1.jpg',
    },
    {
    	code : 'do180-60t_wh',
    	price_b : '29,714',
    	price_a : '26,742',
    	off : '2,972',
    	img : 'cabinet/interior-goods/cerise_interior/do180-45t_wh_1.jpg',
    },
    {
    	code : 'do250-80sr_wh',
    	price_b : '31,143',
    	price_a : '28,028',
    	off : '3,115',
    	img : 'cabinet/interior-goods/cerise_interior/do250-80sr_wh_1.jpg',
    },
    {
    	code : 'dulton-s359-49',
    	price_b : '6,179',
    	price_a : '5,561',
    	off : '618',
    	img : 'cabinet/interior-goods/dulton/hokan/dulton-s359-49.jpg',
    },
    {
    	code : 'covent-gk-52',
    	price_b : '12,036',
    	price_a : '10,832',
    	off : '1,204',
    	img : 'cabinet/interior-goods/covent/umbrellastand/covent-gk-52.jpg',
    },
    {
    	code : 'covent-gk-57',
    	price_b : '11,741',
    	price_a : '10,566',
    	off : '1,175',
    	img : 'cabinet/interior-goods/covent/umbrellastand/covent-gk-57.jpg',
    },
    {
    	code : 'covent-gz-05',
    	price_b : '11,545',
    	price_a : '10,390',
    	off : '1,155',
    	img : 'cabinet/interior-goods/covent/umbrellastand/covent-gz-05.jpg',
    },
    {
    	code : 'covent-no-58',
    	price_b : '19,304',
    	price_a : '17,373',
    	off : '1,931',
    	img : 'cabinet/interior-goods/covent/umbrellastand/covent-no-58.jpg',
    },
    {
    	code : 'gk175-60',
    	price_b : '34,000',
    	price_a : '30,600',
    	off : '3,400',
    	img : 'cabinet/interior-goods/cerise_interior/gk175-60_1.jpg',
    },
    {
    	code : 'gk95-60',
    	price_b : '16,857',
    	price_a : '15,171',
    	off : '1,686',
    	img : 'cabinet/interior-goods/cerise_interior/gk95-60_1.jpg',
    },
    {
    	code : 'gk95-90',
    	price_b : '22,571',
    	price_a : '20,313',
    	off : '2,258',
    	img : 'cabinet/interior-goods/cerise_interior/gk95-90_1.jpg',
    },
    {
    	code : 'miyatake-ds-kb100s',
    	price_b : '4,375',
    	price_a : '3,937',
    	off : '438',
    	img : 'cabinet/miyatake/ds-kb100s-main.jpg',
    },
    {
    	code : 'miyatake-ds-kb39s',
    	price_b : '7,732',
    	price_a : '6,958',
    	off : '774',
    	img : 'cabinet/miyatake/ds-kb39s-main.jpg',
    },
    {
    	code : 'miyatake-kb-10',
    	price_b : '5,714',
    	price_a : '5,142',
    	off : '572',
    	img : 'cabinet/miyatake/kb-10-main.jpg',
    },
    {
    	code : 'an70-80d',
    	price_b : '25,429',
    	price_a : '22,886',
    	off : '2,543',
    	img : 'cabinet/interior-goods/cerise_interior/an70-80d_1.jpg',
    },
    {
    	code : 'bt50-40d',
    	price_b : '16,857',
    	price_a : '15,171',
    	off : '1,686',
    	img : 'cabinet/interior-goods/cerise_interior/bt50-40d_1.jpg',
    },
    {
    	code : 'ha39-39c',
    	price_b : '12,571',
    	price_a : '11,313',
    	off : '1,258',
    	img : 'cabinet/interior-goods/cerise_interior/ha39-39c_1.jpg',
    },
    {
    	code : 'miyatake-dr-440',
    	price_b : '15,786',
    	price_a : '14,207',
    	off : '1,579',
    	img : 'cabinet/miyatake/dr-440-main.jpg',
    },
    {
    	code : 'nk80-90d',
    	price_b : '28,286',
    	price_a : '25,457',
    	off : '2,829',
    	img : 'cabinet/interior-goods/cerise_interior/nk80-90d_1.jpg',
    }
  ]

div.grid.font-xs
  div
    a#btn_4-0.button.bgcolor-1.bgcolor-1-hover.hukidasi-color-1.hukidasi-s テレビ台・ローボード
  div
    a#btn_4-1.button.bgcolor-2.bgcolor-2-hover.hukidasi-color-2.hukidasi-s 本棚・ラック・カラーボックス
  div
    a#btn_4-2.button.bgcolor-3.bgcolor-3-hover.hukidasi-color-3.hukidasi-s タンス・チェスト
  div
    a#btn_4-3.button.bgcolor-4.bgcolor-4-hover.hukidasi-color-4.hukidasi-s キッチン収納
  div
    a#btn_4-4.button.bgcolor-5.bgcolor-5-hover.hukidasi-color-5.hukidasi-s ランドリー収納
  div
    a#btn_4-5.button.bgcolor-6.bgcolor-6-hover.hukidasi-color-6.hukidasi-s 玄関収納
  div
    a#btn_4-6.button.bgcolor-7.bgcolor-7-hover.hukidasi-color-7.hukidasi-s ドレッサー


div#box_4-0
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=0; i<10; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Storage_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Storage_ID[i]['off']}円OFF！
            p.color-1 #{Storage_ID[i]['price_a']}円

  div.right.width-1-1
    a.link.color-1(href='https://item.rakuten.co.jp/re-wall/c/0000001316/', target='_top') このカテゴリの全商品はこちら>>
div#box_4-1
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=10; i<20; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Storage_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Storage_ID[i]['off']}円OFF！
            p.color-1 #{Storage_ID[i]['price_a']}円

  div.right
    a.link.color-2(href='https://item.rakuten.co.jp/re-wall/c/0000001363/', target='_top') このカテゴリの全商品はこちら>>
div#box_4-2
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=20; i<30; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Storage_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Storage_ID[i]['off']}円OFF！
            p.color-1 #{Storage_ID[i]['price_a']}円

  div.right
    a.link.color-3(href='https://item.rakuten.co.jp/re-wall/c/0000001360/', target='_top') このカテゴリの全商品はこちら>>
div#box_4-3
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=30; i<40; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Storage_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Storage_ID[i]['off']}円OFF！
            p.color-1 #{Storage_ID[i]['price_a']}円

  div.right
    a.link.color-4(href='https://item.rakuten.co.jp/re-wall/c/0000001320/', target='_top') このカテゴリの全商品はこちら>>
div#box_4-4
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=40; i<46; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Storage_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Storage_ID[i]['off']}円OFF！
            p.color-1 #{Storage_ID[i]['price_a']}円

  div.right
    a.link.color-5(href='https://item.rakuten.co.jp/re-wall/c/0000001530/', target='_top') このカテゴリの全商品はこちら>>
div#box_4-5
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=46; i<56; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Storage_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Storage_ID[i]['off']}円OFF！
            p.color-1 #{Storage_ID[i]['price_a']}円

  div.right
    a.link.color-5(href='https://item.rakuten.co.jp/re-wall/c/0000001319/', target='_top') このカテゴリの全商品はこちら>>
div#box_4-6
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=56; i<60; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Storage_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Storage_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Storage_ID[i]['off']}円OFF！
            p.color-1 #{Storage_ID[i]['price_a']}円

  div.right
    a.link.color-5(href='https://item.rakuten.co.jp/re-wall/c/0000001365/', target='_top') このカテゴリの全商品はこちら>>
