-
    var Summer_ID = [
      {
      	code : '340035',
      	price_b : '9,000',
      	price_a : '8,100',
      	off : '900',
      	img : 'cabinet/niceday/340035nd.jpg',
      },
      {
      	code : '340036',
      	price_b : '12,500',
      	price_a : '11,250',
      	off : '1,250',
      	img : 'cabinet/niceday/340036nd.jpg',
      },
      {
      	code : '340050',
      	price_b : '16,964',
      	price_a : '15,267',
      	off : '1,697',
      	img : 'cabinet/niceday/340050nd.jpg',
      },
      {
      	code : '317105',
      	price_b : '7,857',
      	price_a : '7,071',
      	off : '786',
      	img : 'cabinet/niceday/317105nd.jpg',
      },
      {
      	code : '317104',
      	price_b : '6,964',
      	price_a : '6,267',
      	off : '697',
      	img : 'cabinet/niceday/317104nd.jpg',
      },
      {
      	code : '317101',
      	price_b : '4,821',
      	price_a : '4,338',
      	off : '483',
      	img : 'cabinet/niceday/317105nd.jpg',
      },
      {
      	code : '317102',
      	price_b : '5,500',
      	price_a : '4,950',
      	off : '550',
      	img : 'cabinet/niceday/317102nd.jpg',
      },
      {
      	code : '317103',
      	price_b : '6,000',
      	price_a : '5,400',
      	off : '600',
      	img : 'cabinet/niceday/317103nd.jpg',
      },
      {
      	code : '317401',
      	price_b : '4,036',
      	price_a : '3,632',
      	off : '404',
      	img : 'cabinet/niceday/317401nd.jpg',
      },
      {
      	code : '317402',
      	price_b : '4,607',
      	price_a : '4,146',
      	off : '461',
      	img : 'cabinet/niceday/317402sd.jpg',
      },
      {
      	code : '317403',
      	price_b : '5,000',
      	price_a : '4,500',
      	off : '500',
      	img : 'cabinet/niceday/317403nd.jpg',
      },
      {
      	code : 'sg-10261',
      	price_b : '2,000',
      	price_a : '1,800',
      	off : '200',
      	img : 'cabinet/sgoole/sg-10261.jpg',
      },
      {
      	code : 'sg-10262',
      	price_b : '2,600',
      	price_a : '2,340',
      	off : '260',
      	img : 'cabinet/sgoole/sg-10262.jpg',
      },
      {
      	code : 'sg-10260',
      	price_b : '3,200',
      	price_a : '2,880',
      	off : '320',
      	img : 'cabinet/sgoole/sg-10260.jpg',
      },
      {
      	code : '517401',
      	price_b : '4,232',
      	price_a : '3,808',
      	off : '424',
      	img : 'cabinet/niceday/517401.jpg',
      },
      {
      	code : '517101',
      	price_b : '5,500',
      	price_a : '4,950',
      	off : '550',
      	img : 'cabinet/niceday/517101.jpg',
      },
      {
      	code : '317501',
      	price_b : '5,036',
      	price_a : '4,532',
      	off : '504',
      	img : 'cabinet/niceday/317501nd.jpg',
      },
      {
      	code : '317502',
      	price_b : '5,714',
      	price_a : '5,142',
      	off : '572',
      	img : 'cabinet/niceday/317502nd.jpg',
      },
      {
      	code : '317503',
      	price_b : '6,786',
      	price_a : '6,107',
      	off : '679',
      	img : 'cabinet/niceday/317503nd.jpg',
      },
      {
      	code : '517501',
      	price_b : '5,321',
      	price_a : '4,788',
      	off : '533',
      	img : 'cabinet/niceday/517501.jpg',
      },
      {
      	code : '517502',
      	price_b : '6,018',
      	price_a : '5,416',
      	off : '602',
      	img : 'cabinet/niceday/517502.jpg',
      },
      {
      	code : '517503',
      	price_b : '6,768',
      	price_a : '6,091',
      	off : '677',
      	img : 'cabinet/niceday/517503.jpg',
      },
      {
      	code : 'sg-10266',
      	price_b : '13,400',
      	price_a : '12,060',
      	off : '1,340',
      	img : 'cabinet/sgoole/sg-10266.jpg',
      },
      {
      	code : 'sg-10259',
      	price_b : '6,900',
      	price_a : '6,210',
      	off : '690',
      	img : 'cabinet/sgoole/sg-10259.jpg',
      },
      {
      	code : 'sg-10267',
      	price_b : '7,200',
      	price_a : '6,480',
      	off : '720',
      	img : 'cabinet/sgoole/sg-10267.jpg',
      },
      {
      	code : 'sg-10263',
      	price_b : '7,900',
      	price_a : '7,110',
      	off : '790',
      	img : 'cabinet/sgoole/sg-10263.jpg',
      },
      {
      	code : 'sg-10264',
      	price_b : '1,700',
      	price_a : '1,530',
      	off : '170',
      	img : 'cabinet/sgoole/sg-10264.jpg',
      },
      {
      	code : 'sg-10265',
      	price_b : '1,300',
      	price_a : '1,170',
      	off : '130',
      	img : 'cabinet/sgoole/sg-10265.jpg',
      },
    ]

div
  // p 管理番号一覧
  -for (var i=0; i<Summer_ID.length; i++)
    != `<!-- ${Summer_ID[i]['code']} -->`
    //- p #{Summer_ID[i]['code']}

div.grid.font-xs
  div
    a#btn_6-0.button.bgcolor-1.bgcolor-1-hover.hukidasi-color-1.hukidasi-s ひんやりクッション
  div
    a#btn_6-1.button.bgcolor-2.bgcolor-2-hover.hukidasi-color-2.hukidasi-s 敷きパッド
  div
    a#btn_6-2.button.bgcolor-3.bgcolor-3-hover.hukidasi-color-3.hukidasi-s タオルケット
  div
    a#btn_6-3.button.bgcolor-4.bgcolor-4-hover.hukidasi-color-4.hukidasi-s 冷感ラグ

    
div#box_6-0
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=22; i<28; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Summer_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Summer_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Summer_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Summer_ID[i]['off']}円OFF！
            p.color-1 #{Summer_ID[i]['price_a']}円

div#box_6-1
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=3; i<16; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Summer_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Summer_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Summer_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Summer_ID[i]['off']}円OFF！
            p.color-1 #{Summer_ID[i]['price_a']}円

div#box_6-2
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=16; i<22; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Summer_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Summer_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Summer_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Summer_ID[i]['off']}円OFF！
            p.color-1 #{Summer_ID[i]['price_a']}円
    
div#box_6-3
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=0; i<3; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Summer_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Summer_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Summer_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Summer_ID[i]['off']}円OFF！
            p.color-1 #{Summer_ID[i]['price_a']}円
