-
  var Table_ID =[
    {
    	code : '5046g1',
    	price_b : '40,625',
    	price_a : '36,562',
    	off : '4,063',
    	img : 'cabinet/niceday/5046g1.jpg',
    },
    {
    	code : '504800',
    	price_b : '20,393',
    	price_a : '18,353',
    	off : '2,040',
    	img : 'cabinet/niceday/504800.jpg',
    },
    {
    	code : 'dulton-100-245',
    	price_b : '44,107',
    	price_a : '39,696',
    	off : '4,411',
    	img : 'cabinet/interior-goods/dulton/table/dulton-100-245.jpg',
    },
    {
    	code : 'dulton-k845-987',
    	price_b : '26,964',
    	price_a : '24,267',
    	off : '2,697',
    	img : 'cabinet/interior-goods/dulton/table/dulton-k845-987.jpg',
    },
    {
    	code : 'for70-120t',
    	price_b : '25,429',
    	price_a : '22,886',
    	off : '2,543',
    	img : 'cabinet/interior-goods/cerise_interior/for70-120t_1.jpg',
    },
    {
    	code : 'for70-80t',
    	price_b : '25,429',
    	price_a : '22,886',
    	off : '2,543',
    	img : 'cabinet/interior-goods/cerise_interior/for70-80t_1.jpg',
    },
    {
    	code : 'jlf70-80t',
    	price_b : '25,429',
    	price_a : '22,886',
    	off : '2,543',
    	img : 'cabinet/interior-goods/cerise_interior/jlf70-80t_1.jpg',
    },
    {
    	code : 'lum70-120t',
    	price_b : '32,571',
    	price_a : '29,313',
    	off : '3,258',
    	img : 'cabinet/interior-goods/cerise_interior/lum70-120t_1.jpg',
    },
    {
    	code : 'lum70-140t',
    	price_b : '42,571',
    	price_a : '38,313',
    	off : '4,258',
    	img : 'cabinet/interior-goods/cerise_interior/lum70-140t_1.jpg',
    },
    {
    	code : 'miyatake-ds-dt3240',
    	price_b : '33,143',
    	price_a : '29,828',
    	off : '3,315',
    	img : 'cabinet/miyatake/ds-dt3240-main.jpg',
    },
    {
    	code : '504200',
    	price_b : '13,929',
    	price_a : '12,536',
    	off : '1,393',
    	img : 'cabinet/niceday/504200.jpg',
    },
    {
    	code : '513900',
    	price_b : '17,839',
    	price_a : '16,055',
    	off : '1,784',
    	img : 'cabinet/niceday/513900.jpg',
    },
    {
    	code : 'an50-40t',
    	price_b : '12,571',
    	price_a : '11,313',
    	off : '1,258',
    	img : 'cabinet/interior-goods/cerise_interior/an50-40t_1.jpg',
    },
    {
    	code : 'covent-lw-26',
    	price_b : '18,911',
    	price_a : '17,019',
    	off : '1,892',
    	img : 'cabinet/interior-goods/covent/table/covent-lw-26.jpg',
    },
    {
    	code : 'covent-lw-43',
    	price_b : '23,821',
    	price_a : '21,438',
    	off : '2,383',
    	img : 'cabinet/interior-goods/covent/table/covent-lw-43.jpg',
    },
    {
    	code : 'miyatake-st-019',
    	price_b : '7,554',
    	price_a : '6,798',
    	off : '756',
    	img : 'cabinet/miyatake/st-019-main.jpg',
    },
    {
    	code : 'miyatake-st-300',
    	price_b : '10,982',
    	price_a : '9,883',
    	off : '1,099',
    	img : 'cabinet/miyatake/st-300-main.jpg',
    },
    {
    	code : 'miyatake-st-400',
    	price_b : '9,750',
    	price_a : '8,775',
    	off : '975',
    	img : 'cabinet/miyatake/st-400-main.jpg',
    },
    {
    	code : 'miyatake-st-403',
    	price_b : '9,732',
    	price_a : '8,758',
    	off : '974',
    	img : 'cabinet/miyatake/st-403-main.jpg',
    },
    {
    	code : 'miyatake-st-450',
    	price_b : '9,107',
    	price_a : '8,196',
    	off : '911',
    	img : 'cabinet/miyatake/st-450-main.jpg',
    },
    {
    	code : 'miyatake-ar-gt97',
    	price_b : '10,607',
    	price_a : '9,546',
    	off : '1,061',
    	img : 'cabinet/miyatake/ar-gt97-main.jpg',
    },
    {
    	code : 'miyatake-bt-92',
    	price_b : '5,518',
    	price_a : '4,966',
    	off : '552',
    	img : 'cabinet/miyatake/bt-92-main.jpg',
    },
    {
    	code : 'miyatake-ct-1020',
    	price_b : '18,482',
    	price_a : '16,633',
    	off : '1,849',
    	img : 'cabinet/miyatake/ct-1020-main.jpg',
    },
    {
    	code : 'miyatake-ct-8040',
    	price_b : '11,286',
    	price_a : '10,157',
    	off : '1,129',
    	img : 'cabinet/miyatake/ct-8040-main.jpg',
    },
    {
    	code : 'miyatake-ct-845',
    	price_b : '12,821',
    	price_a : '11,538',
    	off : '1,283',
    	img : 'cabinet/miyatake/ct-845-main.jpg',
    },
    {
    	code : 'vt40110t',
    	price_b : '21,143',
    	price_a : '19,028',
    	off : '2,115',
    	img : 'cabinet/interior-goods/cerise_interior/vt40110t_1.jpg',
    },
    {
    	code : 'vt4090',
    	price_b : '14,000',
    	price_a : '12,600',
    	off : '1,400',
    	img : 'cabinet/interior-goods/cerise_interior/vt4090_1.jpg',
    },
    {
    	code : 'vt4090ht',
    	price_b : '19,714',
    	price_a : '17,742',
    	off : '1,972',
    	img : 'cabinet/interior-goods/cerise_interior/vt4090ht_1.jpg',
    },
    {
    	code : 'vt4090t',
    	price_b : '15,429',
    	price_a : '13,886',
    	off : '1,543',
    	img : 'cabinet/interior-goods/cerise_interior/vt4090t_1.jpg',
    },
    {
    	code : 'miyatake-ar-gt102',
    	price_b : '13,071',
    	price_a : '11,763',
    	off : '1,308',
    	img : 'cabinet/miyatake/ar-gt102-main.jpg',
    },
    {
    	code : 'miyatake-dt-1000',
    	price_b : '19,375',
    	price_a : '17,437',
    	off : '1,938',
    	img : 'cabinet/miyatake/dt-1000-main.jpg',
    },
    {
    	code : 'miyatake-dt-1090',
    	price_b : '16,554',
    	price_a : '14,898',
    	off : '1,656',
    	img : 'cabinet/miyatake/dt-1090-main.jpg',
    },
    {
    	code : 'tr80d',
    	price_b : '28,286',
    	price_a : '25,457',
    	off : '2,829',
    	img : 'cabinet/interior-goods/cerise_interior/tr80d_1.jpg',
    },
    {
    	code : 'miyatake-knt-a401',
    	price_b : '20,982',
    	price_a : '18,883',
    	off : '2,099',
    	img : 'cabinet/miyatake/knt-a401-main.jpg',
    },
    {
    	code : 'miyatake-knt-j1061',
    	price_b : '10,679',
    	price_a : '9,611',
    	off : '1,068',
    	img : 'cabinet/miyatake/knt-j1061-main.jpg',
    },
    {
    	code : 'dulton-os101854',
    	price_b : '31,464',
    	price_a : '28,317',
    	off : '3,147',
    	img : 'cabinet/interior-goods/dulton/table/dulton-os101854.jpg',
    },
  ]


div.grid.font-xs
  div
    a#btn_3-0.button.bgcolor-1.bgcolor-1-hover.hukidasi-color-1.hukidasi-s ダイニングテーブル
  div
    a#btn_3-1.button.bgcolor-2.bgcolor-2-hover.hukidasi-color-2.hukidasi-s サイドテーブル
  div
    a#btn_3-2.button.bgcolor-3.bgcolor-3-hover.hukidasi-color-3.hukidasi-s センターテーブル・ローテーブル
  div
    a#btn_3-3.button.bgcolor-4.bgcolor-4-hover.hukidasi-color-4.hukidasi-s パソコンデスク
  div
    a#btn_3-4.button.bgcolor-5.bgcolor-5-hover.hukidasi-color-5.hukidasi-s カフェ・バーテーブル


div#box_3-0
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=0; i<10; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Sofa_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Sofa_ID[i]['off']}円OFF！
            p.color-1 #{Sofa_ID[i]['price_a']}円

  div.right.width-1-1
    a.link.color-1(href='http://item.rakuten.co.jp/re-wall/c/0000001508/', target='_top') このカテゴリの全商品はこちら>>
div#box_3-1
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=10; i<20; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Sofa_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Sofa_ID[i]['off']}円OFF！
            p.color-1 #{Sofa_ID[i]['price_a']}円

  div.right
    a.link.color-2(href='http://item.rakuten.co.jp/re-wall/c/0000001506/', target='_top') このカテゴリの全商品はこちら>>
div#box_3-2
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=20; i<29; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Sofa_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Sofa_ID[i]['off']}円OFF！
            p.color-1 #{Sofa_ID[i]['price_a']}円

  div.right
    a.link.color-3(href='http://item.rakuten.co.jp/re-wall/c/0000001507/', target='_top') このカテゴリの全商品はこちら>>
div#box_3-3
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=29; i<33; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Sofa_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Sofa_ID[i]['off']}円OFF！
            p.color-1 #{Sofa_ID[i]['price_a']}円

  div.right
    a.link.color-4(href='http://item.rakuten.co.jp/re-wall/c/0000001556/', target='_top') このカテゴリの全商品はこちら>>
div#box_3-4
  div.grid.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
    -for (var i=33; i<36; i++)
      div
        div(style='background-color: #f6f6f6;')
          a(href='https://item.rakuten.co.jp/re-wall/'+Sofa_ID[i]['code']+'/', target='_top')
            img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Sofa_ID[i]['img']+'')
          div.padding-xs
            p.font-xs.color-4 #{Sofa_ID[i]['off']}円OFF！
            p.color-1 #{Table_ID[i]['price_a']}円

  div.right
    a.link.color-5(href='http://item.rakuten.co.jp/re-wall/c/0000001555/', target='_top') このカテゴリの全商品はこちら>>
